.faq{
    display: flex;
    justify-content: space-around;
}

.faq__inner{
    max-width: 1240px;
    width: 100%; height: auto;

    border-radius: 5px;
}


.faq__title{
    width: 100%;
    margin-top: 120px;

    font-size: 50px;
    font-weight: 600;
}

.faq__content{
    width: auto; height: auto;
    margin-top: 60px;
}

.faq__subtitle{
    height: auto; width: 100%;
    margin-bottom: 20px;
}

.faq__subtitle-text_visual{
    font-size: 22px;

    font-weight: 500;

    color: #FFFFFF;
}

.faq__subinfo{
    height: auto; width: 100%;
}


.faq__subinfo-text_visual{
    color: #FCEADA;
    font-size: 18px;

    font-weight: 500;
}

.faq__subinfo-point{
    margin-bottom: 12px;
}

.faq__button-text_visual{

    font-size: 18px;
    font-weight: 500px;

    color: #F5F5F5;
}

.faq__button{
    display: flex;
    width: 100%; height: auto;
    
    padding: 0;
    padding-bottom: 10px;

    

    border: none;
    background-color: transparent;

    border-bottom: 1px solid #534B44;
    margin-bottom: 30px;
}

.faq__collapsed{
    position: relative;
    top: -20px;

    padding-left: 15px;
    padding-right: 40%;
}

.faq__colapsed_visual{

    font-size: 18px;
    font-weight: 300;

    color: #FCEADA;
}

.faq__button:hover{
    cursor: pointer;
}

.faq__switcher-container{
    height: 100%; height: auto;

    margin-left: auto;
    
    display: flex;
    align-items: center;
}
