.methods__btn-switcher_size{
    padding-right: 0px !important;
}

.detail__dvd-container .detail__divider:first-child ul {
    margin-bottom: 0px !important;
}

@media screen and (min-width: 1101px){
  .methods__btn-switcher{
	  margin-left: 7px;
  }

  .methods__ph-text-container > div,
  .methods__lk-text-container > div,
  .methods__wm-text-container > div,
  .methods__sp-text-container > div{
      margin-top: 25px;
  }

  .methods__wm-text-container > div{
      margin-top: 20px;
      margin-left: 5px;
  }

  .methods__ph-container, .methods__lk-container, .methods__wm-container, .methods__sp-container{
    display: block !important;

  }

  .methods__ph-container > img,
  .methods__lk-container > img,
  .methods__wm-container > img,
  .methods__sp-container > img{
    margin-top: 8px;
  }

  .modal__subtitle-container img{
  width: 46px; height: 46px;

  }

  .methods__wm_m{
  margin-top:5px !important;
  }
}

@media screen and (max-width: 640px){
  .stock__add-part-two{
      margin-left: 0px !important;
  }

  .master__inner .stock__add-part-two{
      margin-left: 32px !important;
  } 

  .stock__flag-point{
      margin-top: 30px;
  }

  .stock__price-desc{
      margin-top: 4px;
   }

  .master__inner .stock__add-part-two
      padding-left: 30px;
  }

  .master__inner .stock__collaps-add{
      padding-left: 0px !important;
  }

   #modalFirst .modal-dialog, #modalSecond .modal-dialog, #modalThird .modal-dialog{
        margin: 0 !important;
   }

   #modalFirst .modal-footer button, #modalSecond .modal-footer button, #modalThird .modal-footer button{
        margin-right: 20px !important;
   }

   #modalFirst .btn-close, #modalSecond .btn-close, #modalThird .btn-close{
       margin-right: 0 !important;
   }

   #buyrFirst, #buyrSecond, #buyrThird{
     margin-bottom: 0px !important;
   }  
}
