.methods__btn-switcher_size{
    padding-right: 0px !important;
}

.detail__dvd-container .detail__divider:first-child ul {
    margin-bottom: 0px !important;
}

@media screen and (min-width: 1101px){
  .methods__btn-switcher{
	  margin-left: 7px;
  }

  .methods__ph-text-container > div,
  .methods__lk-text-container > div,
  .methods__wm-text-container > div,
  .methods__sp-text-container > div{
      margin-top: 25px;
  }

  .methods__wm-text-container > div{
      margin-top: 20px;
      margin-left: 5px;
  }

  .methods__ph-container, .methods__lk-container, .methods__wm-container, .methods__sp-container{
    display: block !important;

  }

  .methods__ph-container > img,
  .methods__lk-container > img,
  .methods__wm-container > img,
  .methods__sp-container > img{
    margin-top: 8px;
  }

  .modal__subtitle-container img{
  width: 46px; height: 46px;

  }

  .methods__wm_m{
  margin-top:5px !important;
  }
}

@media screen and (max-width: 640px){
  .stock__add-part-two{
      margin-left: 0px !important;
  }

  .master__inner .stock__add-part-two{
      margin-left: 32px !important;
  } 

  .stock__flag-point{
      margin-top: 30px;
  }

  .stock__price-desc{
      margin-top: 4px;
   }

  .master__inner .stock__collaps-add{
      padding-left: 0px !important;
  }

   #modalFirst .modal-dialog, #modalSecond .modal-dialog, #modalThird .modal-dialog{
        margin: 0 !important;
   }

   #modalFirst .modal-footer button, #modalSecond .modal-footer button, #modalThird .modal-footer button{
        margin-right: 0px !important;
   }

   #modalFirst .btn-close, #modalSecond .btn-close, #modalThird .btn-close{
       margin-right: 0 !important;
   }

   #buyrFirst, #buyrSecond, #buyrThird{
     margin-bottom: 0px !important;
   }

   #modalFirst .modal__radio-text, #modalSecond .modal__radio-text, #modalThird .modal__radio-text{
       display:flex;
   }  

   #modalFirst .modal__radio-text .custom-radiobox + span, 
   #modalSecond .modal__radio-text .custom-radiobox + span, 
   #modalThird .modal__radio-text .custom-radiobox +span{
       display:flex;
       align-items: center;
       margin-left: 6px;
   }

   #modalSecond .modal__radio-text .custom-radiobox + span{
       width: 210px;
   }

   #modalFirst .modal__radio-buttons,
   #modalSecond .modal__radio-buttons,
   #modalThird .modal__radio-buttons{
       padding-left: 0px !important;
       /*margin-left: 19px !important;*/
   }

   #modalFirst .modal-title,
   #modalSecond .modal-title,
   #modalThird .modal-title{
      /*margin-left: 19px !important;*/
   }

   .custom-radiobox-text{
      margin-left: 6px;
      width: 210px; 
   }

   .modal__error{
      margin-left: 17px;
   }

  #modalFirst .modal-content, #modalFirst .modal-header, #modalFirst .modal-body, #modalFirst .modal-footer,
  #modalSecond .modal-content, #modalSecond .modal-header, #modalSecond .modal-body, #modalSecond .modal-footer,
  #modalThird .modal-content, #modalThird .modal-header, #modalThird .modal-body, #modalThird .modal-footer,
  #modalFirst  .modal-content-rdbtn,
  #modalSecond  .modal-content-rdbtn,
  #modalThird  .modal-content-rdbtn{
        width: 288px;
    }
}


@media screen and (max-width: 1101px) and (min-width: 641px){
  #modalFirst .modal-content, #modalFirst .modal-header, #modalFirst .modal-body, #modalFirst .modal-footer,
  #modalSecond .modal-content, #modalSecond .modal-header, #modalSecond .modal-body, #modalSecond .modal-footer,
  #modalThird .modal-content, #modalThird .modal-header, #modalThird .modal-body, #modalThird .modal-footer,
  #modalFirst  .modal-content-rdbtn,
  #modalSecond  .modal-content-rdbtn,
  #modalThird  .modal-content-rdbtn{
        width: 556px !important;
   }

   #modalFirst label, #modalSecond label, #modalThird label{
    display: block;
   }

   #modalFirst .modal__input-container,
   #modalSecond .modal__input-container,
   #modalThird .modal__input-container{
    height: 20px;
   }

   .custom-radiobox-text{
    margin-left: 6px;
    width: 440px; 
   }

   #modalFirst .modal__radio-text, #modalSecond .modal__radio-text, #modalThird .modal__radio-text{
    display:flex;
}  

    #modalFirst .modal__radio-text .custom-radiobox + span, 
    #modalSecond .modal__radio-text .custom-radiobox + span, 
    #modalThird .modal__radio-text .custom-radiobox +span{
        display:flex;
        align-items: center;
        margin-left: 6px;
    }

    #modalFirst .modal__radio-buttons,
    #modalSecond .modal__radio-buttons,
    #modalThird .modal__radio-buttons{
        padding-left: 0px !important;
        margin-left: 10px !important;
    }
 
    #modalFirst .modal-title,
    #modalSecond .modal-title,
    #modalThird .modal-title{
       margin-left: 10px !important;
    }

   .modal__error{
      margin-left: 26px;
   }

   .stock__part-one-desc{
     margin-left: 28px !important; 
   }

   .stock__part-two-desc{
       margin-left: 15px;
    }
}

@media screen and (min-width: 1101px){
    #modalFirst .modal-content, #modalFirst .modal-header, #modalFirst .modal-body, #modalFirst .modal-footer,
    #modalSecond .modal-content, #modalSecond .modal-header, #modalSecond .modal-body, #modalSecond .modal-footer,
    #modalThird .modal-content, #modalThird .modal-header, #modalThird .modal-body, #modalThird .modal-footer,
    #modalFirst  .modal-content-rdbtn,
    #modalSecond  .modal-content-rdbtn,
    #modalThird  .modal-content-rdbtn{
          width: 556px !important;
     }
  
     #modalFirst label, #modalSecond label, #modalThird label{
      display: block;
     }
  
     #modalFirst .modal__input-container,
     #modalSecond .modal__input-container,
     #modalThird .modal__input-container{
      height: 20px;
     }
  
     .custom-radiobox-text{
      margin-left: 6px;
      width: 430px; 
     }
  
     #modalFirst .modal__radio-text, #modalSecond .modal__radio-text, #modalThird .modal__radio-text{
      display:flex;
  }  
  
      #modalFirst .modal__radio-text .custom-radiobox + span, 
      #modalSecond .modal__radio-text .custom-radiobox + span, 
      #modalThird .modal__radio-text .custom-radiobox +span{
          display:flex;
          align-items: center;
          margin-left: 6px;
      }
  
      #modalFirst .modal__radio-buttons,
      #modalSecond .modal__radio-buttons,
      #modalThird .modal__radio-buttons{
          padding-left: 0px !important;
          margin-left: 10px !important;
      }
   
      #modalFirst .modal-title,
      #modalSecond .modal-title,
      #modalThird .modal-title{
         margin-left: 10px !important;
      }
   
     .modal__error{
         margin-left: 26px;
     } 

       .stock__part-one-desc{
     margin-left: 59px !important;
   }

   .stock__part-two-desc{
       margin-left: 5px;
    }
 }
  
