.for-whom{
    display: flex;
    justify-content: space-around;
}

.for-whom__inner{
    max-width: 1240px;
    width: 100%; height: auto;
}

.for-whom__title{
    font-family: 'Unbounded';
    font-size: 50px;

    font-weight: 600;
}

.for-whom__pbox{
    display: flex;
    flex-wrap: wrap;

    position: relative;

    width: calc(100% + 40px); height: auto;
    margin-top: 60px;
    
    margin-left: -40px;
}

.for-whom_elem-padding{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;

    box-sizing: border-box;
}

.for-whom_elem-margin{
    margin-bottom: 40px;
    margin-left: 40px;
}


.for-whom__elem-one, .for-whom__elem-two, .for-whom__elem-three, .for-whom__elem-four, .for-whom__elem-five{
    background-color: #3A3637;
    width: 386px; height: 200px;


    border-radius: 7px;
}

.for-whom_elem-text{
    font-family: 'Unbounded';
    font-size: 18px;

    font-weight: 300;

    color: #FCEADA;
}

.for-whom_elem-text_bold{
    font-weight: 400;
}

.for-whom__icon{
    margin-bottom: 5px;
}

.for-whom__elems-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.display-flex{
    display: flex;
}



.custom-slider-btn{
    border-radius: 50%;

    height: 11px !important; 
    width: 11px !important;

}

.carousel-indicators button{
    border-radius: 50%;

    height: 11px !important; 
    width: 11px !important;

}

.carousel-indicators .active{
    background-color: #E0AA3E !important;
    opacity: 1 !important;
}

.carousel-indicators{
    opacity: 0.35 !important; 
}

.width-max{
    width: 100%;
}


#for-whom-carousel-tablet, #for-whom-carousel-mobile, .fix{
    height: 250px !important;
}

@media screen and (min-width: 1100px) {
    #for-whom-carousel-mobile{
        display: none;
    }

    #for-whom-carousel-tablet{
        display: none;
        
    }
    
    #for-whom-carousel{
        display: none;
    }

    .pc-info{
        display: block;
    }
}
