.forms{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.forms__inner{
    max-width: 1240px;
    width: 100%; height: auto;

    border-radius: 5px;

    padding-left: 16px;
    padding-right: 16px;
}

.forms_body-gradient {
    background: rgb(28, 18, 11);
    background: linear-gradient(120deg, rgba(28, 18, 11, 1) 0%, rgba(69, 46, 25, 1) 100%);
  
    /* Добавляем префиксы для кросс-браузерной поддержки */
    -webkit-background: linear-gradient(120deg, rgba(28, 18, 11, 1) 0%, rgba(69, 46, 25, 1) 100%);
    -moz-background: linear-gradient(120deg, rgba(28, 18, 11, 1) 0%, rgba(69, 46, 25, 1) 100%);
  }
.forms__title{
    width: 100%;

    text-align: left;

    margin-top: 120px;

    padding: 0px 120px;

}

.forms__content-title h5{
    font-weight: 400;
    padding-left: 10px;
}

.forms__content-title img{
    padding-right: 10px;
    margin-left: 30px;
}

.forms__title_size_h2{
    font-size: 50px;

    font-weight: 600;

    text-align: center;
}



.forms__content{
    width: auto; height: auto;
    margin-top: 50px;
}

.forms__content-title{
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto; width: 100%;

    padding-left: 170px;
    padding-right: 310px;
}

.forms__content-title_text-visual{
    font-size: 18px;

    font-weight: 400;

    color: #FCEADA;
}

.forms__form-container{
    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 120px;
}

.input-field:focus-visible{
    outline:2px solid #4b8fd8;
}

.input-field{
    height: 45px; width: 625px;

    border: none;
    border-radius: 3px;


    margin-bottom: 20px;

    background-color: #675D55;
    text-indent: 20px;

    font-size: 18px;
    font-weight: 400px;
    color: #ACACAC;
}

.forms__second-title{
   height: auto; width: 100%;

   margin-top: 10px;
}

.forms__second-title-visual{
    font-size: 18px;

    font-weight: 400;

    color: #FFFFFFE5;
}

.forms__check-container{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    
}

.forms__check-container_text-visual{
    font-size: 18px;

    font-weight: 300;

    color: #FFFFFFE5;
}


.forms__check-box-divider{
    display: flex;

}

.forms__check-container{
    justify-content: flex-start;
}

.forms__check-box{
    margin-right: 30px;
}

.custom-checkbox {
    position: relative;

    display: inline-block;

    width: 28px; 
    height: 28px; 

    border: 2px solid #DADADA;
    border-radius: 7px;
  }

.custom-checkbox::before{
    content: '';

    display: inline-block;
    width: 28px; height: 28px;

    background-image: url("../img/icons/checked.svg");
    background-image: cover;
    background-repeat: no-repeat;
    background-size: 28px 28px;

    position: absolute;
    top: -5%; left: -5%;

    opacity: 0;

    transition: 0.2s ease-in;
}

.custom-checkbox:hover::before{
    cursor: pointer;
}

.forms__check-box{
    display: flex;
    align-items: center;

    width: auto;
}

input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0; height: 0;
}


input[type="checkbox"]:checked + .custom-checkbox::before{
    opacity: 1;
}


.forms__error-input{
    outline: 2px solid #CB4D4D !important;
}

.forms__error-win{
    font-size: 18px;

    font-weight: 300;

    margin-bottom: 40px;
    margin-top: 10px;

    color: #CB4D4D;
}

.forms__content-title > img{
    width: 56px; height: 56px;
    padding-right: 0;
}
