.methods{
    display: flex;
    justify-content: space-around;

    margin-top: 120px;
}

.methods__inner{
    max-width: 1240px;
    width: 100%; height: auto;
}

.methods__title{
    font-family: 'Unbounded';
    font-size: 50px;

    font-weight: 600;
}

.methods__spoilers{
    width: auto; height: auto;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.methods__button_m{
    margin-top: 50px;
}

.methods__spoiler_align{
    width: 600px; height: 80px;
    
    padding-left: 30px;
    padding-top: 11px;
    box-sizing: border-box;

    text-align: left;

    display: flex;
    margin-top: 40px;
}

.methods__ph-spoiler{
    width: auto; height: auto;
}

.methods_btn-visual{
    background-color: #3A3637;
    border: none;

    border-radius: 7px;
    

    font-family: 'Unbounded';
    color: #F5F5F5;

    font-size: 18px;
    font-weight: 300;
}

.methods__btn-content{
    width: 450px;
    height: auto;
}

.methods__btn-content_w{
    width: 500px; height: auto;
}


.methods__collapsed-content{
    background-color: #3A3637;

    height: 130px; width: 600px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.methods__collapsed-content_sp{
    background-color: #3A3637;

    height: 180px; width: 600px;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    

}

.methods_btn-visual.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


.methods__anim-set_m{
    position: relative;
    top: -10px;
}

.check{
    height: 500px;
}

.methods__ph-spoiler-content_text{
    padding-left: 97px;
    padding-right: 65px;

    box-sizing: border-box;

    font-family: 'Unbounded';
    font-size: 18px;

    font-weight: 300;
    color: #FCEADA;
}

.methods__btn-switcher{
    width: 10%; height: 100%;
    
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: -5px;
    margin-right: 33px;
}


.methods__btn-switcher_size{
    justify-content: center;
    padding-right: 12px;
    box-sizing: border-box;
}

.expand{
    transform: rotate(180deg);
}

.methods__between{
    width: 100%;
    height: 40px;
}

.methods__wm_m{
    margin-top: -5px;
}

