@media screen and (max-width: 640px) {
    /* header */
    header{
        margin-top: 30px;
    }

    .header-content__full-version {
      display: none;
    }
  
    .header-content__mini-version{
        display: flex;
    }
    
    .header-content{
        max-width: 288px;
    }

    /* content */
    .content__inner{
        max-width: 288px;
        flex-wrap: wrap;

        justify-content: center;
    }

    .content__select{
        max-width: 288px;
        height: 406px;

        background-position: right;
    }

    .content__title{
        font-size: 30px;
        margin-top: 20px; 
        margin-left: 16px;
    }
    
    .content__addinfo{
        margin-left: 16px;
        margin-top: 120px;
    }

    .content__addinfo_sm{
        font-size: 24px;
    }

    .content__addinfo_lg{
        font-size: 10px;
    }

    .content__select_l_m{
        margin-left: 16px;
    }

    .content__button{
        width: 200px; height: 45px;
        font-size: 14px;
    }

    .content__button_m{
        margin-top: 20px; margin-left: 16px;
    }

    .content__stories{
        margin-top: 20px;
        width: 288px; height: 406px;
    }


   /* for-whom */
    .for-whom{
        margin-top: 80px;
    }

   .for-whom__inner{
        max-width: 288px;
    }

    .for-whom__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .for-whom__pbox{
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .for-whom__elem-one, .for-whom__elem-two, .for-whom__elem-three, .for-whom__elem-four, .for-whom__elem-five{
        min-width: 288px; min-height: 174px;
    }

    .for-whom__elems-wrapper{
        display: flex;
        flex-wrap: nowrap;
    
        user-select: none;
        cursor: grab;
    
        overflow-x: hidden;
    }

    .for-whom_elem-text {
        font-size: 12px;
    }

    .for-whom__pbox{
        width: calc(100% + 40px + 10%);
    }

    /* authors */
    .authors__inner{
        max-width: 288px;
    }

    .authors__sub_icon{
        width: 63px; height: 75px;
    }

    .authors__title{
        font-size: 24px;
    }

    .authors__content{
        margin-top: 40px;
        display: block;
    }

    .authors__sub-one, .authors__sub-two, .authors__sub-three{
        margin-bottom: 30px;
    }

    .authors__sub-three{
        padding-right: 0;
    }

    .authors__sub_t-bold{
        font-size: 14px;
    }

    .authors__image{
        width: 100%; height: 385px;
        margin-left: auto;

        background-image: url('../img/anyawork_mobile.png');
        background-size: cover;
    }

    .authors_subinfo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /* methods */
    .methods__inner{
        max-width: 288px;
    }

    .methods__title{
        font-size: 24px;
    }

    .methods__spoiler_align{
        width: 288px; height: 80px;
    }

    .methods__wm_m{
        width: 57px; height: 58px;
    }

    .methods__wm-container{
        padding-top: 5px;
    }

    .methods_btn-visual{
        font-size: 14px;
    }

    .methods__collapsed-content{
        height: 130px; width: 288px;
    }

    .methods__collapsed-content_sp{
        height: 180px; width: 288px;
    }

    .methods__collapsed-content_ex{
        height: 150px;
    }


    .mobile__t-spoiler_m{
        height: 140px;
    }

    .mobile__t-spoiler_m_s{
        height: 190px;
    }

    .mobile__t-spoiler_f{
        height: 190px;
    }

    .methods__ph-spoiler-content_text{
        font-size: 14px;
    }

    .methods__anim-set_m{
        position: relative;
        top: -5px;
    }

    .methods__ph-spoiler-content_text{
        padding-left: 48px;
        padding-right: 33px;
    }

    .methods__btn-switcher{
        margin-left: 10px;
    }

    

   /* stock */

   .stock{
    margin-top: 88px;
   }
   
   .stock__inner{
        max-width: 288px;
    }

    .stock__title{
        font-family: 'Unbounded';
        font-size: 24px;
    
        font-weight: 600;
        margin-top: 0px;
    }

    .stock_spoiler_align{
        height: 60px;
    }

    .stock__mobile{
        margin-left: 56px;
    }

    .stock__button_theme_img{
        background-size: 100% 100%;
    }

    .stock__collaps-content_theme_img{
        background-size: 100% 100px;
    }

    .stock__swticher-container{
        margin-right: 15px;
    }

    .stock__swticher-container img{
        width: 16px; height: 9px;
    }

    .stock__btn-title-text{
        font-size: 18px;
        font-weight: 500;

        padding-right: 20px;
    }

    .stock__fall-mark_visual{
        font-size: 12px;
    }

    .stock__fall-container{
        width: auto;
    }

    .stock__fall-mark{
        width: 55px; height: 17px;
    }

    .stock__collaps-title-photo{
        height: 130px;
    }

    .stock__collaps-title{
        height: auto;
    }

    .stock__collaps-info{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }

    .stock__demo-title{
        margin-bottom: 16px;
    }

    .stock__demo-main img{
        height: 16px; width: 16px;
        margin-top: 0px;
    }

    .stock__demo-main{
        margin-top: 0px;
    }

    .stock__collaps-main{
        margin-top: 20px;
    }

    .stock__main-content img{
        height: 16px; width: 16px;
    }

    .stock__main-content{
        margin-top: 0px;
    }
    .stock__part-one-desc{
        margin-left: 0;
    }

    .stock__collaps-price{
        margin-top: 30px;
    }

    .stock__add-part-two{
        margin-left: 0;
        margin-top: 20px;
    }

    .stock__part-one-title img{
        height: 24px; width: 24px;
    }

    .stock__title-mobile{
        margin-left: 24px;
    }

    .stock__collaps-demo_title_font{
        font-size: 14px;
    }

    .stock__part-two-desc{
        margin-left: 0;
        margin-top: 12px;
    }

    .stock__collaps-demo_main_font{
        font-size: 12px;
    }

    .stock__price_visual{
        font-size: 18px;
    }

    .stock__buy-btn_modifed{
        font-size: 14px;
    }

    .stock__buy-btn_bordered{
        font-size: 14px;
        
        margin-top: 20px;
    }

    .stock__collaps-content_theme_img-brows, .stock__collaps-content_theme_img-lips, .stock__collaps-content_theme_img-eyes {
        background-size: 100% 250px;
    }

    .stock__demo-buy_text_visual{
        font-size: 12px;

        margin-top: 20px;
    }

    
    .stock__price-desc{
        font-size: 12px;
    }

    .stock__collaps-price_between{
        padding: 0;
    }

    .stock__collaps-content{
        background-size: 100% 75px;
    }
    .stock__price-sub-container{
        text-align: center;
    }

    .stock__collaps-buy{
        display: flex;
        flex-wrap: wrap;

        margin-top: 30px;
        padding: 0;
    }

    .stock__collaps-add{
        display: block;
        margin-top: 30px;
    }
    /* online */
    .online{
        margin-top: 88px;
    }

    .online__inner{
        max-width: 288px;
    }
    
    .online__title{
        font-family: 'Unbounded';
        font-size: 24px;

        margin-top: 0px;
    }


    /* forms */
    .forms{
        margin-top: 88px;
    }

    .forms__inner{
        max-width: 320px;
    }

    .forms__title_size_h2{
        font-size: 24px;
    }

    .forms__content-title_text-visual{
        display: flex;

        font-size: 14px;
    }

    .forms__content-title{
        padding: 0;
    }
    .input-field{
        font-size: 14px;
    }

    .forms__second-title-visual{
        font-size: 14px;
    }

    .input-field{
        width: 288px;

    }

    .forms__check-container_text-visual{
        font-size: 12px;
    }

    .forms__check-box{
        margin-bottom: 10px;
    }

    .forms__check-box-divider{
        display: block;
    
    }
    
    .forms__check-container{
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    
    .forms__title{
        margin-top: 40px;
    }

    .forms__form-container{
        margin-bottom: 40px;
    }

    /* master */
    .master__inner{
        max-width: 288px;
    }
    
    .master__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .master__content{
        margin-top: 40px;
    }
    
    .master{
        margin-top: 88px;
    }

    .master__subtitle-text_visual{
        display: flex;
        font-size: 14px;
    }

    /* offline */
    .offline{
        margin-top: 88px;
    }

    .offline__inner{
        max-width: 288px;
    }
    
    .stock__spoiler_m{
        margin-top: 20px;
    }

    .offline__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .offline__content{
        margin-top: 40px;
    }

    .offline__subtitle{
        display: flex;
    }

    .offline__subtitle-text_visual{
        font-size: 14px;
    }

    .offline__subtitle{
        width: 320px;
    }

    .offline__subtitle{
        max-width: 288px;
    }

    /* history */
    .history{
        margin-top: 88px;
    }

    .history__content-wrapper{
        max-width: 288px;
    }

    .history__inner{
        max-width: 288px;
    }

    .history__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .history__subtitle-text_visual{
        font-size: 14px;
    }

    .history__story_visual{
        font-size: 10px;
    }

    .history__content-wrap{
        width: 110%;
    }

    .history__story-card{
        width: 288px;
    }
    
    .history__bottom-images img{
        width: 75px; height: 100px;
    }

    .history__collapsed{
        font-size: 10px;
    }


    /* why */

    .why{
        margin-top: 88px;
    }
    
    .why__inner{
        max-width: 288px;
    }

    .why__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .why__subtitle-text_visual{
        font-size: 18px;
    }

    .why__subinfo-text_visual{
        font-family: 'Unbounded';
        font-size: 14px;
    }

    .why__main-img{
        height: 400px;
    }

    /* faq */
    .faq{
        margin-top: 88px;
    }

    .faq__content{
        margin-top: 40px;
    }

    .faq__inner{
        max-width: 288px;
    }

    .faq__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .faq__subtitle-text_visual{
        font-size: 16px;
    }

    .faq__subinfo-text_visual{
        font-size: 14px;
    }

    
    .faq__button-text_visual{
        font-size: 14px;
    }

    .faq__button{
        text-align: left;
    }

    .faq__colapsed_visual{
        font-size: 12px;
    }
    /* footer */
    .footer__inner{
        max-width: 288px;  
    }

    .footer__title{
        font-size: 24px;
    }

    .footer__subtitle-text_visual{
        font-size: 16px;
    }

    .footer__subinfo-text_visual{
        font-size: 14px;
    }

    .footer__contact-title{
        font-size: 12px;
    }

    .footer__contact-tel{
        font-size: 10px;
    }

    .footer__contact-email{
        font-size: 10px;
    }

    .footer__personal-title{
        font-size: 10px;
    }

    .footer__docs{
        font-size: 10px;

        margin-top: 5px;
    }

    .footer__bottom_text-visual{
        font-size: 10px;
    }

    .footer-logo__image{
        display: block;
        width: 100px; height: 56px;
    }

    .footer__main{
        display: block;
    }

    .footer__main > div{
        margin-bottom: 30px;
    }
    
    .footer__bottom{
        display: block;
    }

    .footer__bottom-rights{
        text-align: left;
    }
    
    .footer__designer{
        display: block;

        margin-top: 8px;
    }

    .footer__designer-pc-tablet{
        display: none;
    }

    .after-image{
        margin-top: 5px;
    }

    /* Modal Pop - Up */
    .modal-title{
        font-size: 16px;
    }

    .modal__radio-text{
        font-size: 12px;
    }

    .modal__tablet-btn{
        height: 45px; width: 248px;

        font-size: 14px;
    }

    .modal__input-container{
        display: flex;
        align-items: center;

        margin-left: 5px;
    }

    .modal-footer-rdbtn{
        display: flex;
        flex-wrap: wrap;
    }

    .modal-footer-rdbtn button{
        margin-bottom: 20px;
    }

    .modal-content-form, .modal-header-form, .modal-body-form{
        width: 328px;
    }

    .modal-input-field{
        width: 288px; height: 44px;
    }

    .modal-title_tablet{
        font-size: 24px;
        padding-right: 0px;
    }

    .modal-form_input-margin{
        margin-bottom: 10px;
    }

    .modal-dialog{
        max-width: 100%;
    }

    .modal__subtitle-params{
        font-size: 14px;
    }

    .modal-content-rdbtn{
        width: 288px;
    }

    .modal-footer-rdbtn, .modal-body-rdbtn, .modal-header-rdbtn{
        max-width: 288px;
    }

    .modal-footer-rdbtn{
        display: flex;
        flex-wrap: wrap;
    }

    .modal-dialog-centered{
        justify-content: center;
    }

    .modal__input-container{
        margin-left: 0px;
    }

    .custom-radiobox-text{
        margin-left: 10px;
    }

    /* Menu */
    .menu{
        width: 272px;
        height: 596px;

        padding-left: 32px;
    }

    .menu__points-container{
        display: flex;
        flex-wrap: wrap;

        margin-top: 15px;
    }

    .menu_visual{
        font-size: 16px;
    }

    .menu__divider_m{
        margin: 0;
    }

    .menu__points-divider > div{
        text-align: right;
    }

}