@media screen and (max-width: 640px) {
    /* Fast-fixes */
    .detail__colapsed_visual{
	font-size: 8px;
	margin-top: 10px;
    }

    .methods__btn-switcher{
        padding-top: 20px;
        display:block;
    }

    .methods__spoilers h5{

        font-weight: 300;
        
        font-size: 14px;
      }

    .detail__dvd-container{

	padding-right: 4px;
    display: block;
    }

    .detail__divider div{
	    width: fit-content;
        font-size: 12px;

        margin-right: 0;
    }

    .stock__detail-btn{
        padding: 0;
    }

    .detail__divider:last-child{
        width: 190px;
    }


    .modal__subtitle-container img{
      width: 36px; height: 36px;

    }  

    /* header */
    /*header{
        margin-top: 30px;
    }*/

    

    .header-content__full-version {
      display: none;
    }
  
    .header-content__mini-version{
        display: flex;
    }
    
    .header-content{
        min-width: 288px;
        width: 90%;

        margin-top: 25px;
    }

    /* content */
    .content{
        margin-top: 75px;
    }

    .content__inner{
        min-width: 288px; width: 90%;
        flex-wrap: wrap;

        justify-content: center;
    }

    .content__select{
        min-width: 288px; width: 100%;
        max-width: none;

        height: 120vw;

        background-position: right;
    }

    .content__title{
        font-size: 8vw;

        margin-top: 20px; margin-left: 16px;

        min-width: 272px;
    }
    
    .content__addinfo{
        margin-left: 16px;
        margin-top: 39.5vw;

        display: block;
    }

    .content__addinfo_flex{
        display: flex;
    }

    .content__addinfo_sm{
        font-size: 7vw;

        display: block;
        height: 100%;
    }

    .content__addinfo_lg{
        font-size: 3.2vw;
    }

    .content__select_l_m{
        margin-left: 16px;
    }


    
    .content__button{
        width: 200px; height: 45px;

        font-size: 14px;
    }

    .mobile-select-btn{
        width: 60vw; height: 13vw;

        font-size: 4vw;
    }

    .content__button_m{
        margin-top: 20px; margin-left: 16px;
    }

    .content__stories{
        margin-top: 20px;

        min-width: 288px;
        width: 100%; height: 120vw;
    }

    #story-video{
        object-fit: cover;
    }

   /* for-whom */
    .for-whom{
        margin-top: 80px;
    }

   .for-whom__inner{
        min-width: 288px;
        width: 90%;
    }

    .for-whom__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .for-whom__pbox{
        flex-wrap: nowrap;
    }

    .for-whom__elem-one, .for-whom__elem-two, .for-whom__elem-three, .for-whom__elem-four, .for-whom__elem-five{
        min-width: 288px; min-height: 174px;

        width: 93%;
    }
    
    #for-whom-carousel-mobile, .for-whom__elems-wrapper, .for-whom__pbox{
        width: 90%;
    }
 

    .for-whom__elems-wrapper{
        display: flex;
        flex-wrap: nowrap;
    
        user-select: none;
    }

    .for-whom_elem-text {
        font-size: 12px;
    }

    .for-whom__pbox{
        width: calc(100% + 40px + 10%);
        margin-left: 0;
    }

    /* authors */
    .authors__inner{
        max-width: 90%;
    }

    .authors__sub_icon{
        width: 63px; height: 75px;
    }

    .authors__title{
        font-size: 24px;
    }

    .authors__content{
        margin-top: 40px;
        display: block;
    }

    .authors__sub-one, .authors__sub-two, .authors__sub-three{
        margin-bottom: 30px;
    }

    .authors__sub-three{
        padding-right: 0;
    }

    .authors__sub_t-bold{
        font-size: 14px;
    }

    

    .authors__image{
        width: 100%; height: 140vw;
        margin-left: auto;

        background-image: url('../img/anyawork_mobile.png');
        background-size: cover;
    }

    .authors_subinfo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /* methods */
    .methods__inner{
        min-width: 90%;
        width: 90%;
    }

    .methods__title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .methods__spoiler_align{
        min-width: 288px; height: 80px;
        
        width: 112%;
    }

    .methods__wm_m{
        width: 8vw !important; height: 9vw !important;
    }

    .methods__wm-container{
        padding-top: 5px;
    }

    .methods_btn-visual{
        font-size: 14px;
    }

    .methods__collapsed-content{
        height: 130px;

        min-width: 288px; width: 100%;
    }

    .methods__collapsed-content_sp{
        height: 180px; 
        
        min-width: 288px; width: 100%;
    }

    .methods__collapsed-content_ex{
        height: 150px;
    }


    .mobile__t-spoiler_m{
        height: auto;
    }

    .mobile__t-spoiler_m_s{
        height: auto;
    }

    .mobile__t-spoiler_f{
        height: 190px;
    }

    .methods__ph-spoiler-content_text{
        font-size: 14px;
    }

    .methods__anim-set_m{
        position: relative;
        top: -5px;

        width: 112%;
    }

    /*.methods__ph-spoiler-content_text{
        padding-left: 61px;
        padding-right: 33px;
        padding-bottom: 30px;
    }*/

    .methods__ph-spoiler{
        width: 90%;
    }

    .methods__btn-switcher{
        margin-left: 10px;
        margin-right: 14px;
    }

    .methods__btn-switcher_size{
        padding-right: 0px;
    }

    

   /* stock */

   .stock{
    margin-top: 88px;
   }
   
   .stock__inner{
        min-width: 288px;
        width: 90%;
    }

    .stock__title{
        font-family: 'Unbounded';
        font-size: 24px;
    
        font-weight: 600;
        margin-top: 0px;
    }

    .stock_spoiler_align{
        min-height: 60px;

        height: 16vw;
    }

    .stock__mobile{
        margin-left: 56px;
    }

    .stock__button_theme_img{
        background-size: 100% 100%;
    }

    .stock__collaps-content_theme_img{
        background-size: 100% 16vw;
    }

    .stock__swticher-container{
        margin-right: 15px;
    }

    .stock__swticher-container img{
        width: 16px; height: 9px;
    }

    .stock__btn-title-text{
        font-size: 18px;
        font-weight: 500;

        padding-right: 20px;
    }

    .stock__fall-mark_visual{
        font-size: 12px;
    }

    .stock__fall-container{
        width: auto;
    }

    .stock__fall-mark{
        width: 55px; height: 17px;
    }

    .stock__collaps-title-photo{
        height: 45vw;
    }

    .stock__collaps-title{
        height: auto;
    }

    .stock__collaps-info{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }

    .stock__demo-title{
        margin-bottom: 16px;
    }

    .stock__demo-main img{
        height: 16px; width: 16px;
        margin-top: 0px;
    }

    .stock__demo-main{
        margin-top: 0px;
    }

    .stock__collaps-main{
        margin-top: 20px;
    }

    .stock__main-content img{
        height: 16px; width: 16px;
    }

    .stock__main-content{
        margin-top: 0px;
    }
    .stock__part-one-desc{
        margin-left: 0;
    }

    .stock__collaps-price{
        margin-top: 30px;
    }

    .stock__add-part-two{
        margin-left: 0;
        margin-top: 20px;
    }

    .stock__part-one-title img{
        height: 24px; width: 24px;
    }

    .stock__title-mobile{
        margin-left: 24px;
    }

    .stock__collaps-demo_title_font{
        font-size: 14px;
    }

    .stock__part-two-desc{
        margin-left: 0;
        margin-top: 12px;
    }

    .stock__collaps-demo_main_font{
        font-size: 12px;
    }

    .stock__price_visual{
        font-size: 18px;
    }

    .stock__buy-btn_modifed{
        font-size: 14px;
    }

    .stock__buy-btn_bordered{
        font-size: 14px;
        
        
    }

    .stock__collaps-content_theme_img-brows, .stock__collaps-content_theme_img-lips, .stock__collaps-content_theme_img-eyes {
        background-size: 100% 250px;
    }

    .stock__demo-buy{
        

        margin-top: 20px !important;
    }

    .stock__demo-buy_text_visual{
        font-size: 11px;
    }

    
    .stock__price-desc{
        font-size: 12px;
    }

    .stock__collaps-price_between{
        padding: 0;
    }

    
    .stock__price-sub-container{
        text-align: center;
    }

    .stock__button_theme_img-lips{
	background-position: 0 -1vw;
    }

    .stock__collaps-buy{
        display: flex;
        flex-wrap: wrap;

        margin-top: 30px;
        padding: 0;
    }

    .stock__collaps-add{
        display: block;
        margin-top: 30px;
    }
    /* online */
    .online{
        margin-top: 88px;
    }

    .online__inner{
        min-width: 288px;
        width: 90%;
    }
    
    .online__title{
        font-family: 'Unbounded';
        font-size: 24px;

        margin-top: 0px;
    }


    /* forms */
    .forms{
        margin-top: 88px;
    }

    .forms__inner{
        max-width: 90%;
    }

    .forms__title_size_h2{
        font-size: 24px;
    }

    .forms__content-title_text-visual{
        display: flex;

        font-size: 14px;
    }

    .forms__content-title{
        padding: 0;
    }
    .input-field{
        font-size: 14px;
    }

    .forms__second-title-visual{
        font-size: 14px;
    }

    #firstForm, #secondForm{
        width: 100%;
    }
    .input-field{
        width: 98%;

    }

    .forms__check-container_text-visual{
        font-size: 12px;
    }

    .forms__check-box{
        margin-bottom: 10px;
    }

    .forms__check-box-divider{
        display: block;
    
    }
    
    .forms__check-container{
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    
    .forms__title{
        margin-top: 40px;
    }

    .forms__form-container{
        margin-bottom: 30px;
    }

    /* master */
    .master__inner{
        min-width: 288px;
        width: 90%;
    }
    
    .master__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .master__content{
        margin-top: 40px;
    }
    
    .master{
        margin-top: 88px;
    }

    .master__subtitle-text_visual{
        display: flex;
        font-size: 14px;
    }

    /* offline */
    .offline{
        margin-top: 88px;
    }

    .offline__inner{
        min-width: 288px;
        width: 90%;
    }
    
    .stock__spoiler_m{
        margin-top: 20px;
    }

    .offline__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .offline__content{
        margin-top: 40px;
    }

    .offline__subtitle{
        display: flex;
    }

    .offline__subtitle-text_visual{
        font-size: 14px;
    }

    .offline__subtitle{
        width: 320px;
    }

    .offline__subtitle{
        min-width: 288px;
        width: 100%;
    }

    /* history */
    .history{
        margin-top: 88px;
    }

    .history__content-wrapper{
       /* max-width: 288px; */
    }

    .history__card-wrapper{
        width: 90vw;
    }

    .history__mobile-wrapper{
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .history__inner{
        min-width: 288px;
        width: 90%;

        max-width: none;
    }

    .history-item{
        height: auto;
        min-height: 177vw !important;
    }

    .carousel-inner {
        max-height: 900px !important;
        height: auto !important;

        width: 110%;
    }

    .history__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .history__subtitle-text_visual{
        font-size: 14px;
    }

    .history__story_visual{
        font-size: 3.5vw;
    }

    .history__content-wrap{
        width: 100%;
    }

    .history__story-card{
        width: 90vw;
        margin-right: 0;
    }
    
    .history__bottom-images img{
        width: 23.5vw; height: 37vw;
    }

    .history__collapsed{
        font-size: 3.5vw;
    }

    #history-carousel-tblt{
        display: none;
    }

    /* why */

    .why{
        margin-top: 88px;
    }

    .why__main-img{
        border-radius: 7px;
    }
    
    .why__inner{
        min-width: 288px;
        width: 90%;
    }

    .why__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .why__subtitle-text_visual{
        font-size: 18px;
    }

    .why__subinfo-text_visual{
        font-family: 'Unbounded';
        font-size: 14px;
    }

    .why__main-img{
        height: 120vw;
    }

    /* faq */
    .faq{
        margin-top: 88px;
    }

    .faq__content{
        margin-top: 40px;
    }

    .faq__inner{
        min-width: 288px;
        width: 90%;
    }

    .faq__title{
        font-size: 24px;
        margin-top: 0px;
    }

    .faq__subtitle-text_visual{
        font-size: 16px;
    }

    .faq__subinfo-text_visual{
        font-size: 14px;
    }

    
    .faq__button-text_visual{
        font-size: 14px;
    }

    .faq__button{
        text-align: left;
    }

    .faq__colapsed_visual{
        font-size: 12px;
    }
    /* footer */
    .footer__inner{
        min-width: 288px;
        width: 90%;  
    }

    .footer__title{
        font-size: 24px;
    }

    .footer__payment{
        padding-right: 40%;
    }

    .footer__subtitle-text_visual{
        font-size: 16px;
    }

    .footer__subinfo-text_visual{
        font-size: 14px;
    }

    .footer__contact-title{
        font-size: 12px;
    }

    .footer__contact-tel{
        font-size: 10px;
    }

    .footer__contact-email{
        font-size: 10px;
    }

    .footer__personal-title{
        font-size: 10px;
    }

    .footer__docs{
        font-size: 10px;

        margin-top: 5px;
    }

    .footer__bottom_text-visual{
        font-size: 10px;
    }

    .footer-logo__image{
        display: block;
        width: 100px; height: 56px;
    }

    .footer__main{
        display: block;
    }

    .footer__main > div{
        margin-bottom: 30px;
    }
    
    .footer__bottom{
        display: block;
    }

    .footer__bottom-rights{
        text-align: left;
    }
    
    .footer__designer{
        display: block;

        margin-top: 8px;
    }

    .footer__designer-pc-tablet{
        display: none;
    }

    .after-image{
        margin-top: 5px;
    }

    /* Modal Pop - Up */
    .modal-title{
        font-size: 16px;
    }

    .modal__radio-text{
        font-size: 12px;
    }

    .modal__tablet-btn{
        height: 45px; width: 248px;

        font-size: 14px;
    }

    .modal__input-container{
        display: flex;
        align-items: center;

        margin-left: 5px;
    }

    .modal-footer-rdbtn{
        display: flex;
        flex-wrap: wrap;
    }

    .modal-footer-rdbtn button{
        margin-bottom: 20px;
    }

    .modal-content-form, .modal-header-form, .modal-body-form{
        width: 328px;
    }

    .modal-input-field{
        width: 288px; height: 44px;
    }

    .modal-title_tablet{
        font-size: 24px;
        padding-right: 0px;
    }

    .modal-form_input-margin{
        margin-bottom: 10px;
    }

    .modal-dialog{
        max-width: 100%;
    }

    .modal__subtitle-params{
        font-size: 14px;
    }

    .modal-content-rdbtn{
        width: 288px;
    }

    .modal-footer-rdbtn, .modal-body-rdbtn, .modal-header-rdbtn{
        max-width: 288px;
    }

    .modal-footer-rdbtn{
        display: flex;
        flex-wrap: wrap;
    }

    .modal-dialog-centered{
        justify-content: center;
    }

    .modal__input-container{
        margin-left: 0px;
    }

    .custom-radiobox-text{
        margin-left: 10px;
    }

    /* Menu */
    .menu{
        width: 272px;
        height: 596px;

        padding-left: 32px;
    }

    .menu__points-container{
        display: flex;
        flex-wrap: wrap;

        margin-top: 15px;
    }

    .menu_visual{
        font-size: 16px;
    }

    .menu__divider_m{
        margin: 0;
    }

    .menu__points-divider > div{
        text-align: right;
    }


    /* Other */
    .small{
        font-size: 10px;
    } 

    .for-whom_elem-margin{
        margin-left: 0;
    }

    #for-whom-carousel-tablet{
        display: none;
    }
 
    .carousel-indicators {
        margin-bottom: 0rem !important;
    
        right: 0px !important;
    }

    .history__content{
        width: 100%;
        margin-top: 40px;
    }

    .history__title{
        margin-left: 0;
    }


    .methods__sp-text-container, .methods__lk-text-container{
        align-items: start;
        padding-top: 10px;
    }

    #history-carousel-tablet{
        display: none;
    }

    .display-history {
        margin-left: 20px;
      }

      .history-indicators {
        margin-right: 0px !important;
      }

    #for-whom-carousel-tablet, #for-whom-carousel-mobile, .fix{
        height: 250px !important;
    }



        /* Fixes */
        .content{
            margin-bottom: 0px;
        }

        .authors{
            margin-top: 65px;
        }

        .authors__button_m{
            margin-bottom: 30px;
        }

        .for-whom__pbox{
            margin-top: 40px;
        }
    
        .methods, .stock, .online, .forms, .master, .offline, .history, .faq__title{
            margin-top: 88px;
        }

        .why{
            margin-top: 68px;
        }


    
        .stock__spoiler_m{
            margin-top: 20px;
        }

        .stock__content{
            margin-top: 40px;
        }

        .stock-btn{
            width: 248px;
            margin-bottom: 10px;
        }

        .methods__ph-container img, .methods__lk-container img, .methods__wm-container img, .methods__sp-container  img{
            width: 9vw; height: 9vw;
        }

        .methods__ph-container, .methods__lk-container, 
        .methods__wm-container, .methods__sp-container,
        .methods__ph-text-container, .methods__lk-text-container, 
        .methods__wm-text-container, .methods__sp-text-container{
            padding: 0;

            display: flex; align-items: center;

            width: fit-content; height: fit-content;
        }

        .methods__ph-text-container, .methods__lk-text-container, 
        .methods__wm-text-container, .methods__sp-text-container{
            padding-left: 10px;
        }

        .methods__btn-content{
            height: 100%;

            display: flex;
            align-items: center;
        }



        .methods__spoiler_align{
            padding-left: 23px;
            margin-top: 20px;

            width: 112%;
        }
    
        .forms__title, .faq__content{
            margin-top: 40px;
        }
    
        .forms__subtitle_m{
            padding-left: 13px;
            font-weight: 400 !important;
        }
    
        .methods__spoilers{
            margin-top: 0px;
        }

        .forms__content-title{
            justify-content: start;
            padding-left: 0px;
        }

        .forms__content-title > img{
            width: 36px; height: 36px;
        }
        .forms__content{
            margin-top: 40px;
        }
    
        .master__content, .offline__content, .why__content {
            margin-top: 40px;
        }
    

        .master__subtitle, .offline__subtitle{
            margin-bottom: 40px;
        }
    
        .offline__title, .history__title, .why__title{
            margin-top: 0px;
        }
    
        .why__main-img{
            border-radius: 7px;
        }

        .methods__button_m{
            margin-top: 40px;
        }

        .online__content{
            margin-top: 40px;
        }

        .forms__title_size_h2{
            text-align: left;
        }

        .faq__title{
            margin-top: 0px;
        }

        .stock__collaps-add{
            padding-left: 28px;
        }

        .stock__part-one-title{
            margin-left: 0;
        }

        .adaptive{
            margin-left: -30px;
        }

        .stock__demo-points-container{
            padding-right: 0;
            display: block;
        }

        .margin_s_t20{
            margin: 0;
        }

    .methods__wm_m{
       margin-right: 5px;
    }


        
    .forms__title{
        padding: 0;
    }

    .forms__subtitle_m{
        padding-left: 13px;
    }

    .forms__content-title img{
        padding-right: 0;
    }

    .menu{
        top: -25px;
    }

    .methods__btn-switcher{
        padding: 0;

        display: flex;
        align-items: center;
    }

    .authors_ic-size{
        width: 70px; height: 70px;
    }


    .authors_ic-size {
        width: 58px;
    }

    .stock__collaps-content{
        background-size: 100% 16vw;
    }

     .stock__button_theme_img-brows{
        background-position: 100% -2vw;
     }

  .stock__button_theme_img-lips{
        background-position: 100% -3vw;
     }

     .stock__basic-content{
        background-size: 100% 12vw;
     }

     .history__card-img{
        height: 28vw; width: 28vw;
     }

     
    .methods__ph-spoiler-content_text {
        padding: 0 12vw 20px calc(9vw + 32px) !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 640px){
      .stock__button_theme_img-lips{  
        background-position: 100% -3vw;   
     }

     .stock__button_theme_img-brows{
        background-position: 100% -2vw;
     }
}

@media screen and (min-width: 320px) and (max-width: 360px){
    .history-item {
        height: auto;
        min-height: 176vw !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 400px){
    .history-item {
        height: auto;
        min-height: 161vw !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 460px){
    .history-item {
        height: auto;
        min-height: 134vw !important;
    }
}

@media screen and (min-width: 460px) and (max-width: 540px){
    .history-item {
        height: auto;
        min-height: 125vw !important;
    }
}

@media screen and (min-width: 540px) and (max-width: 640px){
    .history-item {
        height: auto;
        min-height: 123vw !important;
    }
}


@media screen and (min-width: 400px) and (max-width: 500px){
    .history__story_visual {
        font-size: 3vw;
    }

    .history__card-img {
        height: 24vw;
        width: 24vw;
      }
}

@media screen and (min-width: 500px) and (max-width: 640px){
    .history__story_visual {
        font-size: 2.7vw;
    }

    .history__card-img {
        height: 23vw;
        width: 23vw;
      }
}

@media screen and (min-width: 320px) and (max-width: 340px){
    .stock__button_theme_img-brows {
        background-position: 100% 0vw;
      }

      .stock__button_theme_img-lips {
        background-position: 100% -2vw;
      }
}

@media screen and (min-width: 340px) and (max-width: 355px){
    .stock__button_theme_img-brows {
        background-position: 100% -1vw;
      }
}

@media screen and (min-width: 0px) and (max-width: 319px){
    .stock__button_theme_img-brows {
        background-position: 100% 0vw;
      }

      .stock__button_theme_img-lips {
        background-position: 100% 0vw;
      }
}