.offline{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.offline__inner{
    max-width: 1240px;
    width: 100%; height: auto;

    border-radius: 5px;
}


.offline__title{
    width: 100%;
    margin-top: 120px;

    font-family: 'Unbounded';
    font-size: 50px;
    font-weight: 600;
}

.offline__content{
    width: auto; height: auto;
    margin-top: 60px;
}

.offline__subtitle{
    display: flex;
    align-items: center;

    height: auto; width: 100%;
    margin-bottom: 30px;
}

.offline__subtitle-text_visual{
    font-family: 'Unbounded';
    font-size: 24px;

    font-weight: 400;

    color: #FCEADA;
}

