.stock{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.stock__inner{
    max-width: 1240px;
    width: 100%; height: auto;
}

.stock__title{
    font-family: 'Unbounded';
    font-size: 50px;

    font-weight: 600;
}

.stock__content{
    width: auto; height: auto;
    margin-top: 60px;
}

.stock__price-sub-container{
    text-align: center;
}



.stock__spoiler{
    width: 100%; height: auto;
}

.stock__spoiler-lips{
    width: 100%; height: auto;
}

.stock_spoiler_align{
    display: flex;
    width: 100%; height: 272px;

    padding: 0;
}

.stock_spoiler_align-brows{
    height: 258px;
}

.stock_spoiler_align-remover{
    height: 233px;
    background-position: 97.3%;
}

.stock_btn-visual{
    border: none;

    border-radius: 7px;
    
    font-family: 'Unbounded';
    color: #F5F5F5;

    font-size: 18px;
    font-weight: 300;
}

.stock__spoiler_text{
    padding-left: 97px;
    padding-right: 65px;

    box-sizing: border-box;

    font-family: 'Unbounded';
    font-size: 18px;

    font-weight: 300;
    color: #FCEADA;
}

.stock__itext-container{
    display: flex;
    width: fit-content;
}

.flex-align-self{
    display: flex;
    align-self: center;
}

.stock__collaps-content{
    background-color: #3A3637;

    height: auto; width: 100%;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    padding: 0;
    padding-bottom: 50px;
}

.stock__button_theme_img{
    background-image: url("../img/Girl_1.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img{
    background-image: url("../img/Girl_2.png");
    background-repeat: no-repeat;
    background-size: 100% 323px;
}


.stock__button_theme_img-lips{
    background-image: url("../img/lips_1.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img-lips{
    background-image: url("../img/lips_2.png");
    background-repeat: no-repeat;
    background-size: 100% 323px;
}

.stock__button_theme_img-brows{
    background-image: url("../img/brow_1.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img-brows{
    background-image: url("../img/brow_2.png");
    background-repeat: no-repeat;
    background-size: 100% 323px;
}

.stock__button_theme_img-eyes{
    background-image: url("../img/eyes_1.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img-eyes{
    background-image: url("../img/eyes_2.png");
    background-repeat: no-repeat;
    background-size: 100% 323px;
}

.stock__button_theme_img-remover{
    background-image: url("../img/remover_1.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-size: 100% 100%;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img-remover{
    background-image: url("../img/remover_2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.stock__button_theme_img-mk{
    background-image: url("../img/mk_1.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-size: 100% 100%;

    background-color: #3a3637;
}

.stock__collaps-content_theme_img-mk{
    background-image: url("../img/mk_2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.stock__button_theme_img-base{
    background-image: url("../img/base_1.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-size: 100% 100%;

    background-color: #3a3637;
}


.stock__collaps-content_theme_img-base{
    background-image: url("../img/base_2.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.stock__button_theme_img-rmv{
    background-image: url("../img/rmv_1.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-size: 100% 100%;

    background-color: #3a3637;
}


.stock__collaps-content_theme_img-rmv{
    background-image: url("../img/rmv_2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.stock__set-up_m{
    position: relative;
    top: 0px;
}

.hide-angels{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;    
}

.stock__fall-container{
    height: 100%; width: 160px;
}

.stock__fall-mark{
    display: flex;

    justify-content: center;
    align-items: center;

    height: 50px; width: 100%;
    margin: 0;
}

.stock__fall-mark_visual{
    background-color: #900000;
    
    border-radius: 5px;
    border-bottom-left-radius: 0px;

    font-family: 'Unbounded';
    color: #DADADA;

    font-size: 18px;
    font-weight: 200;
}

.stock__collaps-title{
    display: flex;
    justify-content: space-around;

    width: 100%; height: 475px;
}

.stock__collaps-title-photo{
    width: 90%; height: 100%;
}

.stock__collaps-title-photo_visual{
    border-radius: 5px;
}

.stock__collaps-info{
    height: auto; width: 100%;
    margin-top: 40px; 

    padding-left: 65px; padding-right: 65px;
    box-sizing: border-box;
}

.stock__collaps-demo{
    width: 100%; height: auto;
}


.stock__demo-title{
    width: 100%; height: auto;
}

.stock__collaps-demo_title_font{
    font-family: 'Unbounded';
    color: #F5F5F5;

    font-size: 18px;
    font-weight: 400;
}

.stock__collaps-demo_main_font{
    font-family: 'Unbounded';
    color: #FCEADA;

    font-size: 24px;
    font-weight: 300;
}

.stock__demo-main{
    

   width: 100%; height: auto; 
   margin-top: 30px;
}

.stock__collaps-main{
    width: 100%; height: auto;
    margin-top: 40px;
}

.stock__main-content{
    width: 100%; height: auto; 
    margin-top: 30px;
}

.white{
    color: #F5F5F5;
}

.small{
    font-size: 14px;
}

.stock__collaps-add{
    display: flex;
    margin-top: 40px;
}

.stock__part-one-title{
    height: auto;
}

.stock__part-one-desc{
    height: auto; 
    margin-left: 70px;
    margin-top: 10px;

    box-sizing: border-box;
    padding-right: 20px;
}

.stock__desc_m{
    margin-top: 15px;
}


.stock__part-two-desc{
    height: auto; 
    margin-top: 26px;
    margin-left: 15px;
}

.stock__add-part-two{
    height: auto;
    margin-left: 72px; margin-top: 22px;
}

.stock__collaps-price{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 85px;
}

.stock__collaps-price_between{
    justify-content: space-around;

    padding-left: 115px; padding-right: 115px;
}

.stock__price_visual{
    font-family: 'Unbounded';
    color: #F5F5F5;

    font-size: 35px;
    font-weight: 600;  
}

.stock__price-container{
    height: auto; width: auto;
}

.stock__price-desc{
    width: 100%;
    text-align: center;
}

.stock__price-sub-container{
    height: auto;
}

.stock__demo-buy_text_visual{
    font-family: 'Unbounded';
    color: #F5F5F5;

    font-size: 18px;
    font-weight: 400;  
    
    border: none;

    border-bottom: 1px solid white;
    border-image: linear-gradient(120deg, rgba(249,242,149,1) 0%, rgba(224,170,62,1) 25%, rgba(249,242,149,1) 75%, rgba(184,138,68,1) 100%);
    border-image-slice: 1; 

    background-color: transparent;
    outline: none; 
}



.stock__demo-buy{
    height: auto;

    margin-top: 45px;
    margin-bottom: 5px;

    text-align: center;

    
}

.stock__price_striked{
    font-family: 'Unbounded';
    color: #CB4D4D;

    font-size: 20px;
    font-weight: 300; 
    
    align-self: self-end;
}

.stock__collaps-buy{
    display: flex;
    justify-content: space-around;

    margin-top: 65px;

    padding-right: 50px;
    padding-left: 50px;

    box-sizing: border-box;
}

.stock__buy-btn_modifed{
    height: 75px; width: 450px;

    font-weight: 400; font-size: 18px;
}

.stock__buy-btn_bordered{
    position: relative;
    background: none;
    border: none;

    height: 75px; width: 450px;

    color: #F5F5F5;
    text-align: center;

    font-weight: 400; font-size: 18px;
}

.stock__buy-btn_bordered::before{
   content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px; 
  padding: 2px; 
  background:linear-gradient(120deg, rgba(249,242,149,1) 0%, rgba(224,170,62,1) 25%, rgba(249,242,149,1) 75%, rgba(184,138,68,1) 100%); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;    
          
}


.stock__btn-title-text{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%; 
    height: 100%;

    box-sizing: border-box;
    padding-right: 100px;
}

.stock__btn-title-text_visual{
    font-family: 'Unbounded';
    
    color: white;
    
    font-size: 50px;
    font-weight: 600;
}

.stock__swticher-container{
    display: flex;
    align-items: center;

    height: 100%;
}

.stock__spoiler_m{
    margin-top: 60px;
}

.stock__collaps-content_theme_img-brows{
    background-size: 100% 140px;
}


.stock__part-one-title{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.stock__detail-btn{
    outline: none; border: none;
    background-color: transparent;
}

.detail__collapsed{
    position: relative;
    

    padding-left: 15px;
}

.detail__colapsed_visual{
    font-family: 'Unbounded';

    font-size: 18px;
    font-weight: 300;

    color: #FCEADA;
}

.detail__divider{
    height: auto; 
    width: fit-content;
}

.detail__divider > div{
    width: fit-content;
    
    margin-bottom: 12px;
    

    display: flex;

}

.detail__divider > div > div{
    height: 100%; 

    padding-right: 10px;

    width: fit-content;
}

.detail__dvd-container{
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;

    padding-right: 20%;
}

.stock__demo-points-container{
    display: flex;
    justify-content: space-between;

    width: 100%; padding-right: 36%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.margin_s_t20{
    margin-top: 20px;
}

.padding_s_l7{
    padding-left: 7px;
}

@media screen and (min-width: 1020px){
    .stock__demo-main{
        display: flex;
        justify-content: space-between;
    }

    .stock__demo-main_none-flex{
        display: block;
    }

    .stock__collaps-demo_main_font{
        font-size: 18px;
    }

    .stock__collaps_demo-padding{
        padding-right: 590px;
    }

    .stock__collaps_demo-padding_bc{
        padding-right: 150px;
    }
}