@media screen and (max-width: 1101px) {
     /* Fast-fixes */ 
  
    .detail__dvd-container{
        padding-right: 0%;
    }

    .detail__divider div{
       
        margin-right: 0px;
    }

    .detail__divider{
        margin-right: -26px;
    }

    .mobile-fix, .mob-fix{
	width: 300px !important;
    }

    /* header */
    
    /*header{   DELETED
        margin-top: 30px;
    }*/

    header{
        height: 62px;
    }



    .header-content__full-version {
      display: none;
    }
  
    .header-content__mini-version{
        display: flex;
    }
    
    .header-content{
        max-width: 696px;
        margin-top: 20px;
    }

    /* content */
    .content{
        margin-top: 69px;
    }
    
    .content__inner{
        max-width: 696px;
    }

    .content__select{
        max-width: 362px;
        height: 406px;

        background-position: center;
        background-image: url('../img/anyas_photo-tablet.png');
    }

    .content__title{
        font-size: 40px;
        margin-top: 20px; 
        margin-left: 16px;
    }
    
    .content__addinfo{
        margin-left: 16px;
        margin-top: 60px;
    }

    .content__addinfo_sm{
        font-size: 36px;
    }

    .content__addinfo_lg{
        font-size: 16px;
    }

    .content__select_l_m{
        margin-left: 16px;
    }

    .content__button{
        width: 248px; height: 45px;
    }

    .content__button_m{
        margin-top: 20px; margin-left: 16px;
    }

    .content__stories{
        width: 304px; height: 406px;
    }


   /* for-whom */
   .for-whom__inner{
        max-width: 696px;
    }

    .for-whom__title{
        font-size: 36px;
    }

    .for-whom__pbox{
        flex-wrap: nowrap;
        margin-top: 50px;
    }

    .for-whom__elem-one, .for-whom__elem-two, .for-whom__elem-three, .for-whom__elem-four, .for-whom__elem-five{
        min-width: 328px; min-height: 187px;
    }

    .for-whom__elems-wrapper{
        display: flex;
        flex-wrap: nowrap;
    
        user-select: none;
        
    
        width: 100%;
    }

    .for-whom_elem-text{
        font-size: 14px;
    }

    .for-whom__pbox{
        width: calc(100% + 40px + 10%);
    }

    /* authors */
    .authors__inner{
        max-width: 696px;
    }

    .authors__title{
        font-size: 36px;
    }

    .authors__content{
        margin-top: 50px;
        display: block;
    }

    .authors__sub-one, .authors__sub-two, .authors__sub-three{
        margin-bottom: 30px;
    }

    .authors__sub-three{
        padding-right: 105px;
    }

    .authors__sub_t-bold{
        font-size: 18px;
    }

    .authors__image{
        width: 100%;
        margin-left: auto;
    }

    .authors_subinfo{
        width: 100%;
        display: flex;
    }

    /* methods */
    .methods__inner{
        max-width: 696px;
    }

    .methods__title{
        font-size: 36px;
    }

    .methods__spoiler_align{
        width: 333px; height: 80px;
    }

    .methods_btn-visual{
        font-size: 14px;
    }

    .methods__collapsed-content{
        height: 130px; width: 333px;
    }

    .methods__collapsed-content_sp{
        height: 180px; width: 333px;
    }

    .methods__collapsed-content_ex{
        height: 150px;
    }


    .methods__ph-spoiler-content_text{
        font-size: 14px;
    }

    .methods__anim-set_m{
        position: relative;
        top: -5px;
    }

    .methods__ph-spoiler-content_text{
        padding-left: 48px;
        padding-right: 33px;
    }

   /* stock */
   
   .stock__inner{
        max-width: 696px;
    }

    .stock__title{
        font-family: 'Unbounded';
        font-size: 36px;
    
        font-weight: 600;
    }

   

    .stock_spoiler_align{
        height: 145px;
    }


    .detail__dvd-container{
        margin-bottom: 15px;
    }

    .stock__collaps-buy{
        padding: 0;
        margin-top: 40px;
    }
    .stock__button_theme_img{
        background-size: 100% 100%;
    }

    .display-flex img{
        width: 29px; height: 26px;
    }

    .stock__collaps-content_theme_img{
        background-size: 100% 200px;
    }

    .stock__collaps-content{
        padding-bottom: 40px;
    }

    .detail__colapsed_visual{
        font-size: 16px;
    }

    .stock__swticher-container{
        margin-right: 15px;
    }

    .stock__btn-title-text{
        font-size: 30px;
    }

    .stock__collaps-title-photo{
        height: 300px;
    }

    .stock__collaps-title{
        height: auto;
    }

    .stock__collaps-demo_title_font{
        font-size: 16px;
    }

    .stock__collaps-demo_main_font{
        font-size: 16px;
    }

    .stock__price_visual{
        font-size: 24px;
    }

    .stock__demo-main, .stock__main-content{
        margin-top: 20px;
    }

    .stock__part-one-title img{
        width: 34px; height: 34px;
    }

    .stock__collaps-main{
        margin-top: 30px;
    }

    .stock__collaps-price_between{
        padding-left: 70px;
         padding-right: 70px;
    }

    .stock__part-two-desc{
        margin-top: 15px;
    }

    .stock__add-part-two{
        margin-top: 8px;
    }

    .stock__part-one-desc{
        margin-left: 47px;
    }

    .stock__collaps-info{
        padding-left: 35px;
        padding-right: 31px;
    }

    .stock__collaps-price{
        margin-top: 40px;
    }

    .stock__buy-btn_modifed{
        font-size: 14px;
    }

    .stock__buy-btn_bordered{
        font-size: 14px;

        width: 248px; height: 45px;
    }

    .stock__collaps-content_theme_img-brows, .stock__collaps-content_theme_img-lips, .stock__collaps-content_theme_img-eyes {
        background-size: 100% 250px;
    }

    .stock__collaps-content_theme_img-brows{
        background-size: 100% 120px;
    }

    .stock__demo-buy_text_visual{
        font-size: 14px;
    }

    /* online */
    .online__inner{
        max-width: 696px;
    }
    
    .online__title{
        font-family: 'Unbounded';
        font-size: 36px;
    }


    /* forms */
    .forms__inner{
        max-width: 696px;
    }

    .forms__content-title{
        padding: 0;
    }

    .forms__title_size_h2{
        font-size: 36px;
    }

    .forms__content-title_text-visual{
        font-size: 16px;
    }

    .input-field{
        font-size: 16px;
    }

    .forms__second-title-visual{
        font-size: 16px;
    }
    
    .forms__check-box-divider{
        display: flex;

    }

    .forms__check-container{
        justify-content: flex-start;
    }

    .forms__check-box{
        margin-right: 20px;
    }
    
    /* master */
    .master__inner{
        max-width: 696px;
    }
    
    .master__title{
        font-size: 36px;
        margin-top: 0px;
    }

    .master__subtitle-text_visual{
        font-size: 16px;
    }

    /* offline */
    .offline__inner{
        max-width: 696px;
    }
    
    .offline__title{
        font-size: 36px;
    }

    .offline__subtitle-text_visual{
        font-size: 16px;
    }

    /* history */
    .history{
        margin-top: 120px;
    }

    .history__content-wrapper{
        max-width: 696px;
    }

    .history__content{
        width: 100%;
    }


    .history__collapsed{
        font-size: 12px;
    }

    .history__inner{
        max-width: 696px;
    }

    .history__title{
        font-size: 36px;
    }

    .history__subtitle-text_visual{
        font-size: 16px;
    }

    .history__story_visual{
        font-size: 12px;
    }

    .history__story-card{
        width: 320px;
    }

    .history__bottom-images img{
        width: 86px; height: 111px;
    }

    .display-history{
        margin-left: 0 !important;
    }

    #history-carousel-tblt .items-flex-contaiener{
        padding-right: 50px;
    }

    .history__card-wrapper{
        width: 350px;
    }

    .history-item{
        height: auto;
        min-height: 577px !important;
    }

    .carousel-inner {
        max-height: 900px !important;
        height: auto !important;

        width: 110%;
    }

    #history-carousel-tblt .carousel-inner{
        width: 700px;
    }


    /* why */
    
    .why__inner{
        max-width: 696px;
    }

    .why__title{
        font-size: 36px;
    }

    .why__subtitle-text_visual{
        font-size: 18px;
    }

    .why__subinfo-text_visual{
        font-size: 16px;
    }

    .why__main-img{
        height: 900px;
    }

    /* faq */

    .faq{
        margin-top: 0;
    }

    .faq__collapsed{
        padding-right: 10%;
    }

    .faq__inner{
        max-width: 696px;
    }

    .faq__title{
        font-size: 36px;
    }

    .faq__colapsed_visual{
        font-size: 16px;
    }

    .faq__subtitle-text_visual{
        font-size: 18px;
    }

    .faq__subinfo-text_visual{
        font-size: 16px;
    }

    .faq__button-text_visual{
        font-size: 16px;
    }

    /* footer */
    .footer__inner{
        max-width: 696px;  
    }

    .footer__title{
        font-size: 36px;
    }

    .footer__subtitle-text_visual{
        font-size: 18px;
    }

    .footer__subinfo-text_visual{
        font-size: 16px;
    }

    .footer__contact-title{
        font-size: 14px;
    }

    .footer__contact-tel{
        font-size: 12px;
    }

    .footer__contact-email{
        font-size: 12px;
    }

    .footer__personal-title{
        font-size: 12px;
    }

    .footer__docs{
        font-size: 12px;

        margin-top: 5px;
    }

    .footer__bottom_text-visual{
        font-size: 12px;
    }

    .footer-logo__image{
        width: 100px; height: 56px;
    }

    /* Modal Pop - Up */
    .modal-title{
        font-size: 18px;
    }

    .modal__radio-text{
        font-size: 16px;
    }

    .modal__tablet-btn{
        height: 57px;
        font-size: 14px;
    }

    .modal__input-container{
        display: flex;
        align-items: center;

    }

    .modal-content-form, .modal-header-form, .modal-body-form{
        width: 594px;
    }

    .modal-input-field{
        width: 554px; height: 44px;
    }

    .modal-title_tablet{
        font-size: 30px;
        padding-right: 50px;
    }

    .modal-form_input-margin{
        margin-bottom: 10px;
    }

    .modal-dialog{
        max-width: 594px;
    }

    /* Other */
    .small{
        font-size: 12px;
    } 

    .pc-info{
        display: none;
    }

    .for-whom__elem-one, .for-whom__elem-two, .for-whom__elem-three, .for-whom__elem-four, .for-whom__elem-five{
        width: 328px;
    }

    .for-whom__elems-wrapper, .for-whom__pbox{
        width: 736px;
    }
    

    .for-whom_elem-margin{
        margin-left: 40x;
    }

    .for-whom__pbox{
        margin-left: -40px;
    }

    .carousel-indicators {
        margin-bottom: 0rem !important;
    
        right: -40px !important;
    }

    .history-indicators{
        margin-right: 75px !important;
    }

    #history-carousel-tablet{
        display: none;
    }

    .history-indicators {
        margin-right: 27px !important;
      }


    .content__button_visual {
        font-size: 16px;
    }

   #for-whom-carousel-tablet, #for-whom-carousel-mobile, .fix{
        height: 250px !important;
    }

    /* Fixes */
    .content{
        margin-bottom: 100px;
    }

    .methods, .stock, .online, .forms, .master, .offline, .history, .why, .faq__title{
        margin-top: 100px;
    }

    .stock__spoiler_m{
        margin-top: 30px;
    }

    .forms__title, .faq__content{
        margin-top: 40px;
    }

    .forms__subtitle_m{
        padding-left: 13px;
    }

    .forms__content-title{
        justify-content: start;
        padding-left: 13px;
    }

    .master__content, .offline__content, .why__content {
        margin-top: 50px;
    }

    .forms__form-container{
        margin-bottom: 40px;
    }

    .offline__title, .history__title, .why__title{
        margin-top: 0px;
    }

    .why__main-img{
        border-radius: 7px;
    }

    .menu{
        top: -20px;
    }

    .forms__title{
        padding: 0;
    }

    .methods__btn-switcher{
        display: flex;
        align-items: center;

    }   

    .button-fix{
        display: flex;
        margin-top: 3px;
    }
    
    .methods__ph-container, .methods__lk-container, 
    .methods__wm-container, .methods__sp-container,
    .methods__ph-text-container, .methods__lk-text-container, 
    .methods__wm-text-container, .methods__sp-text-container{
        padding: 0;

        display: flex; align-items: center;

        width: fit-content; height: fit-content;
    }

    .methods__ph-text-container, .methods__lk-text-container, 
    .methods__wm-text-container, .methods__sp-text-container{
        padding-left: 10px;
    }

    .methods__btn-content{
        height: 100%;

        display: flex;
        align-items: center;
    }

    .stock__main-content img {
        width: 29px; height: 26px;
    }

    .methods__lk-container img, 
    .methods__sp-container img,
    .methods__ph-container img,
    .methods__wm-container img{
        width: 37px; height: 37px;
    }

    .methods__wm_m{
        height: 40px !important;
        width: 28px !important;
    }
    
    .forms__content-title > img{
        width: 46px; height: 46px;
        padding-right: 0;
    }
}
                                    

@media screen and (min-width: 641px) {
    #for-whom-carousel-mobile{
        display: none;
    }

   #for-whom-carousel-tablet, #for-whom-carousel-mobile, .fix{
        height: 250px !important;
    }

    #history-carousel-mobile{
        display: none;
    }
}
